{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.css' %}">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/blitzer/jquery-ui.css"> 
	<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'js/DjangoAjax.js' %}"></script>
  <script src="{% static 'js/jquery.ui.datepicker-es.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>



	{% block extrastatic %}
	{% endblock %}

	<style type="text/css"> 
		.dropdown-toggle{
		 display:block;
		  width: 9em;
		  word-wrap: break-word;
		} 
	</style>

	<title>{% block title %} Base {% endblock %}</title>
</head>
<body>

<div class="container">

	{% block navbar %}
	
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/principal/nuevo">Kardex </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li class="active">
        <a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Producto <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/principal/producto/">Nuevo Producto</a></li>
            <li class="divider"></li>
            <li><a href="/principal/producto/listar/">Listar</a></li>
          </ul>
        </li>
        
      </ul>

      <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
      </ul>
    </div>
  </div>
</nav>
	
	{% endblock %} 

	{% block header %}
	{% endblock %}

	{% block content %}
	{% endblock %}

	{% block tabla %}
	{% endblock %}	

	
	{% block footer %}
	{% endblock %}

	{% block extrajs %}
	{% endblock %}



	</div>
	
</body>
</html>