{% extends 'base/base.html' %}
{% load staticfiles %}


{% block title %}
	Inicio
{% endblock %}
{% block header %}
<script type="text/javascript">
	var i = 0;
</script>
{% endblock %}

{% block content %}
<form method="POST">
	{% csrf_token %}
</form>	
<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label for="{{form.codigo.name}}">{{ form.codigo.label }}</label>
				{{form.codigo}}
				<script type="text/javascript">
				$('#id_codigo').append($('<option>', {value: i, text:'Seleccione una Opcion'}));
				</script>
					{% for producto in productos %}
					<script type="text/javascript">
						$('#select_fichas').find('option').remove().end().val('whatever');
  						i=i+1;
						$('#id_codigo').append($('<option>', {value: i, text:'{{producto.codigo}}'}));
						$("select[id=id_codigo]").change(function(){
        				    $('select[id=id_codigo]').val();
        				});
  					</script>
					{% endfor %}
				

			</div>
		</div>
		<div class="col-md-1">
				<br>
					  <input type=image src="{% static 'images/mas.png' %}" width="50" height="50" onclick="urls_nuevoProducto()">
			</div>
		<div class="col-md-5">
			<div class="form-group">
				<h1> Ministerio de Salud</h1>
			</div>
		</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="codigo">Tarjeta N°</label>
					<input id="id_tarjeta" type="text" class="form-control">
				</div>
		</div>
</div>
<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label for="{{form.nombre.name}}">{{ form.nombre.label }}</label>
				{{form.nombre}}
			</div>
		</div>
		<div class="col-md-5">
			<br>
			<div class="form-group">
				<h4>Control de Existencia de Medicamentos e insumos Medicos</h4>
			</div>
		</div>
		<div class="col-md-2 col-md-offset-1">
			<div class="form-group">
				<br><br>
				<button class="btn btn-danger" width="50" height="50" onclick="urls_nuevoRegistro();">Nuevo</button>
			</div>
		</div>
</div>

<div class="table-responsive col-md-12">
		<div id="conteiner">
	
		</div>
	</div>
	

<script type="text/javascript">
	function urls_nuevoProducto(){
		window.open("/principal/producto/","producto","width=500,height=500	,scrollbars=NO") 	
	}

	function urls_nuevoRegistro(){
		var codigo = $("#id_codigo option:selected").text();
		var valor = $("#id_codigo option:selected").val();

		if(valor==0){
			alert("No ha seleccionado un Codigo para el Producto");
		}
		else{
		window.open("/principal/registro/"+codigo+"/","registro","width=500,height=500	,scrollbars=NO") 	
		}
	}

	function buscar(){
		var codigo = $("#id_codigo option:selected").text()

		$.ajax({

			data : {'codigo':codigo},
			url : '/principal/buscar/nombre/',
			type : 'get',
			success: function(data){
				for (var i = 0; i < data.length; i++) {
					$('#id_nombre').val(data[i].fields.nombre);
				}
			}
		});

		$.ajax({
			data : {'codigo':codigo},
			url : '/principal/buscar/elementos/',
			type : 'get',
			success: function(data){
				var tabla = '<table cellpadding="0"  cellspacing="0" border: 1px; class="table table-bordered" id="conteiner">';
                tabla += '<thead>';
                tabla += '<tr>';
                tabla += '<th>Fecha</th><th>Concepto</th><th>Entradas</th><th>Salidas</th><th>Saldo</th>';		
                tabla += '</tr>';
                tabla += '</thead>';
                tabla += '<tbody>';
                tr = '';
				for (var i = 0; i < data.length; i++) {
					if (data[i].fields.entrada==null) {
						data[i].fields.entrada=0;
					}
					if (data[i].fields.salida==null) {
						data[i].fields.salida=0;
					}
					tr += '<tr>';
                    tr += '<td>'+data[i].fields.fecha+'</td><td>'+data[i].fields.concepto+'</td><td>'+data[i].fields.entrada+'</td><td>'+data[i].fields.salida+'</td><td>'+data[i].fields.saldo+'</td>';
                    tr += '</tr>';
				}
				tabla += tr;
                tabla += '</tbody></table>';
 
                $('#conteiner').html( tabla );
			}
		});

	}

	$("select[id=id_codigo]").change(function(){
		buscar();


        });


</script>

{% endblock %}
