{% extends 'base/base.html' %}
{% load staticfiles %}


{% block title %}
	Inicio
{% endblock %}
{% block header %}
<script type="text/javascript">
	var i = 0;
</script>

{% endblock %}

{% block content %}

<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label for="{{form.codigo.name}}">{{ form.codigo.label }}</label>
				{{form.codigo}}
				<script type="text/javascript">
				$('#id_codigo').append($('<option>', {value: i, text:'Seleccione una Opcion'}));
				</script>
					{% for producto in productos %}
					<script type="text/javascript">
						$('#select_fichas').find('option').remove().end().val('whatever');
  						i=i+1;
						$('#id_codigo').append($('<option>', {value: i, text:'{{producto.codigo}}'}));
						$("select[id=id_codigo]").change(function(){
        				    $('select[id=id_codigo]').val();
        				});
  					</script>
					{% endfor %}
				

			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group">
				<h1> <center>	Ministerio de Salud</center></h1>
			</div>
		</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="codigo">Tarjeta N°</label>
					<input id="id_tarjeta" type="text" class="form-control">
				</div>
		</div>
</div>
<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label for="{{form.nombre.name}}">{{ form.nombre.label }}</label>
				{{form.nombre}}
			</div>
		</div>
		<div class="col-md-6">
			<br>
			<div class="form-group">
				<h4><center>Control de Existencia de Medicamentos e insumos Medicos</center> </h4>
			</div>
		</div>
		<div class="col-md-2 col-md-offset-1">
			<div class="form-group">
				<br><br>
				<button class="btn btn-danger" width="50" height="50" onclick="urls_nuevoRegistro();">Nuevo</button>
			</div>
		</div>
	</div>
	<div class="divOcultar">
		<form method="POST">
		{% csrf_token %}

			<div class="row">
				<div class="form-group">
					<div class="col-md-2">
						<label for="{{form2.codigo.nombre}}">{{ form2.codigo.label }}</label>
						{{form2.codigo}}
					</div>
					<div class="col-md-2">
						<label for="{{form2.concepto.name}}">{{ form2.concepto.label }}</label>
						{{form2.concepto}}
					</div>
					<div class="col-md-2">
						<label for="{{form2.fecha.name}}">{{ form2.fecha.label }}</label>
						{{form2.fecha}}
					</div>

					<div class="col-md-4">
						<section id="first" class="section">
							<div class="col-md-6">
						    	<div class="row">
								    <div class="col-md-12">
								      <input type="radio" name="group1" id="radio-1">
								      <label for="radio-1"><span class="radio">Entrada</span></label>
								    </div>
								</div>
							    <div class="row">
								    <div class="col-md-12">
								      <input type="radio" name="group1" id="radio-2">
								      <label for="radio-2"><span class="radio" >Salida</span></label>
								    </div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group ocultar" >
								<label for="{{form2.entrada.name}}">{{ form2.entrada.label }}</label>
								{{form2.entrada}}
								</div>
								<div class="form-group ocultar2">
									<label for="{{form2.salida.name}}">{{ form2.salida.label }}</label>
									{{form2.salida}}
								</div>
							</div>
						</section>
					</div>
					<div class="col-md-2">
							<div class="form-group">
								<label for="{{form2.saldo.name}}">{{ form2.saldo.label }}</label>
								{{form2.saldo}}
							</div>
						</div>
					</div>
				</div>
		</form>	

	</div>
	<br>
	<div class="row">
		<div class="table-responsive col-md-12">
			<div id="conteiner">

			</div>
		</div>
	</div>

<script type="text/javascript">


	function urls_nuevoRegistro(){
		var codigo = $("#id_codigo option:selected").text();
		var valor = $("#id_codigo option:selected").val();

		if(valor==0){
			alert("No ha seleccionado un Codigo para el Producto");
		}
		else{
		 		$(".divOcultar").css("display", "block");
	
			}
	}

	function buscar(){
		var codigo = $("#id_codigo option:selected").text()

		$.ajax({

			data : {'codigo':codigo},
			url : '/principal/buscar/nombre/',
			type : 'get',
			success: function(data){
				for (var i = 0; i < data.length; i++) {
					$('#id_nombre').val(data[i].fields.nombre);
				}
			}
		});

		$.ajax({
			data : {'codigo':codigo},
			url : '/principal/buscar/elementos/',
			type : 'get',
			success: function(data){
				var tabla = '<table cellpadding="0"  cellspacing="0" border: 1px; class="table table-bordered" id="conteiner">';
                tabla += '<thead>';
                tabla += '<tr>';
                tabla += '<th>Fecha</th><th>Concepto</th><th>Entradas</th><th>Salidas</th><th>Saldo</th>';		
                tabla += '</tr>';
                tabla += '</thead>';
                tabla += '<tbody>';
                tr = '';
				for (var i = 0; i < data.length; i++) {
					if (data[i].fields.entrada==null) {
						data[i].fields.entrada=0;
					}
					if (data[i].fields.salida==null) {
						data[i].fields.salida=0;
					}
										if (data[i].fields.entrada==null) {
						data[i].fields.entrada=0;
					}
					if (data[i].fields.salida==null) {
						data[i].fields.salida=0;
					}
					if (data[i].fields.entrada>0){
						tr += '<tr>';
	                    tr += '<td>'+data[i].fields.fecha+'</td><td>'+data[i].fields.concepto+'</td><td>'+data[i].fields.entrada+'</td><td>'+data[i].fields.salida+'</td><td class="succ">'+data[i].fields.saldo+'</td>';
	                    tr += '</tr>';						
					}
					if (data[i].fields.salida>0){
						tr += '<tr >';
	                    tr += '<td>'+data[i].fields.fecha+'</td><td>'+data[i].fields.concepto+'</td><td>'+data[i].fields.entrada+'</td><td>'+data[i].fields.salida+'</td><td class="Dan">'+data[i].fields.saldo+'</td>';
	                    tr += '</tr>';						
						}
					
					/*tr += '<tr>';
                    tr += '<td>'+data[i].fields.fecha+'</td><td>'+data[i].fields.concepto+'</td><td>'+data[i].fields.entrada+'</td><td>'+data[i].fields.salida+'</td><td>'+data[i].fields.saldo+'</td>';
                    tr += '</tr>';*/
				}
				tabla += tr;
                tabla += '</tbody></table>';
 
                $('#conteiner').html( tabla );
			}
		});

	}

	$("select[id=id_codigo]").change(function(){
		buscar();


        });

	$('#id_entrada').change(function() {
	    var valor = $('#id_entrada').val();
	    var saldo = parseFloat(valor) + parseFloat({{saldo}});
	    $('#id_saldo').val(saldo);
	});

    $('#id_salida').change(function() {
		var valor = $('#id_salida').val();
		var saldo = parseFloat({{saldo}})-parseFloat(valor);
		$('#id_saldo').val(saldo);
	});

	$('.fecha').change(function() {
		
		var f = new Date($('#id_fecha_nac_year').val(),$('#id_fecha_nac_month').val() - 1,$('#id_fecha_nac_day').val());
		
		    var today = new Date();
		    var dayDiff = Math.ceil(today - f) / (1000 * 60 * 60 * 24 * 365);
		    var age = parseInt(dayDiff);
		    $('#{{form.edad.auto_id}}').val(age)
		    $('#{{form.edad_registro.auto_id}}').val(age)

		    var date = new Date();
	        var month = date.getMonth()+ 1;
	        var dateString =  date.getFullYear() + "-"+ month + "-" + date.getDate() + " "+ date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
	        console.log(dateString);
	        $('#{{form.fecha_hora_creacion.auto_id}}').val(dateString)
	    

	});

	$( function() {
		$.datepicker.setDefaults($.datepicker.regional["es"]);
	    $( "#id_fecha" ).datepicker();
	  } );

	$('input:radio[id="radio-1"]').change(
    function(){
        if ($(this).is(':checked')) {
 		$(".ocultar").css("display", "block");
 		$(".ocultar2").css("display", "none");
        }
    });
    	$('input:radio[id="radio-2"]').change(
    function(){
        if ($(this).is(':checked')) {
        	$(".ocultar").css("display", "none");
        	$(".ocultar2").css("display", "block");
  
        }
    });


</script>

{% endblock %}
