{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
	Registro
{% endblock %}
{% block header %}
<script type="text/javascript">
	var i = 0;
</script>
{% endblock %}

{% block content %}
<form method="POST">
	{% csrf_token %}
</form>
	
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label for="{{form2.codigo.name}}">{{ form2.codigo.label }}</label>
				{{form2.codigo}}
				<script type="text/javascript">
				$('#id_codigo').append($('<option>', {value: i, text:'Seleccione una Opcion'}));
				</script>
					{% for producto in productos %}
					<script type="text/javascript">
						$('#select_fichas').find('option').remove().end().val('whatever');
  						i=i+1;
						$('#id_codigo').append($('<option>', {value: i, text:'{{producto.codigo}}'}));
						$("select[id=id_codigo]").change(function(){
        				    $('select[id=id_codigo]').val();
        				});
  					</script>
					{% endfor %}
			</div>
		</div>
		

{% endblock %}