{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
	Nuevo Registro
{% endblock %}
{% block header %}
<style>



.section input[type="radio"],
.section input[type="checkbox"]{
  display: none;
}



/* Base styles for spans */
.container span::before,
.container span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* Radio buttons */
.container span.radio:hover {
  cursor: pointer;
}
.container span.radio::before {
  left: -52px;
  width: 45px;
  height: 25px;
  background-color: #A8AAC1;
  border-radius: 50px;
}
.container span.radio::after {
  left: -49px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: #6C788A;
  transition: left .25s, background-color .25s;
}
input[type="radio"]:checked + label span.radio::after {
  left: -27px;
  background-color: #EBFF43;
}


input[type="checkbox"]:checked + label span.checkbox::after {
  color: #62AFFF;
}

	.ocultar{
		display: none;
	}
	.ocultar2{
		display: none;
	}

</style>
  {% endblock %}


{% block navbar %}
	
	<nav class="navbar navbar-default">
	 	<div class="container-fluid">
		    <div class="navbar-header">
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      
		    	<form class="navbar-form navbar-left" role="search">
		     		<div class="form-group">
		     		</div>
		    	</form>
		    </div>
	   	</div>
	</nav>
	
{% endblock %} 

{% block content %}
<form method="POST">
	{% csrf_token %}
	
		<div class="row">
			<div class="col-md-5">
				<div class="form-group">
					{{form.codigo}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="form-group">
					<label for="{{form2.codigo.nombre}}">{{ form2.nombre.label }}</label>
					{{form2.nombre}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="form-group">
					<label for="{{form.fecha.name}}">{{ form.fecha.label }}</label>
					{{form.fecha}}
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="form-group">
					<label for="{{form.concepto.name}}">{{ form.concepto.label }}</label>
					{{form.concepto}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="form-group">
					<label for="{{form.razones.name}}">{{ form.razones.label }}</label>
					{{form.razones}}
				</div>
			</div>
		</div>

		<div class="col-md-5">
			<section id="first" class="section">
			    <div class="container">
			      <input type="radio" name="group1" id="radio-1">
			      <label for="radio-1"><span class="radio">Entrada</span></label>
			    </div>
			    <div class="container">
			      <input type="radio" name="group1" id="radio-2">
			      <label for="radio-2"><span class="radio">Salida</span></label>
			    </div>

			</section>
		</div>

		<div class="row">
			<div class="col-md-5">
				<div class="form-group ocultar" >
					<label for="{{form.entrada.name}}">{{ form.entrada.label }}</label>
					{{form.entrada}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="form-group ocultar2">
					<label for="{{form.salida.name}}">{{ form.salida.label }}</label>
					{{form.salida}}
				</div>
			</div>
		</div>
				<div class="row">
			<div class="col-md-5">
				<div class="form-group">
					<label for="{{form.saldo.name}}">{{ form.saldo.label }}</label>
					{{form.saldo}}
				</div>
			</div>
		</div>


		<div class="col-md-6 col-md-offset-8">
			<div class="form-group">
					<button type="button" onclick="javascript:window.close();" class="btn btn-warning">Cancelar</button>
					<button type="submit" class="btn btn-success" onclick="refreshParent();">Agregar</button>
			</div>
		</div>


</form>
<script>
    window.onunload = refreshParent;
    function refreshParent() {

        window.opener.location.reload();
    }

    $('#id_entrada').change(function() {
    	var valor = $('#id_entrada').val();
    	var saldo = parseFloat(valor) + parseFloat({{saldo}});
    	$('#id_saldo').val(saldo);
	});

    $('#id_salida').change(function() {
	var valor = $('#id_salida').val();
	var saldo = parseFloat({{saldo}})-parseFloat(valor);
	$('#id_saldo').val(saldo);
	});




    $('.fecha').change(function() {
		
		var f = new Date($('#id_fecha_nac_year').val(),$('#id_fecha_nac_month').val() - 1,$('#id_fecha_nac_day').val());
		
		    var today = new Date();
		    var dayDiff = Math.ceil(today - f) / (1000 * 60 * 60 * 24 * 365);
		    var age = parseInt(dayDiff);
		    $('#{{form.edad.auto_id}}').val(age)
		    $('#{{form.edad_registro.auto_id}}').val(age)

		    var date = new Date();
	        var month = date.getMonth()+ 1;
	        var dateString =  date.getFullYear() + "-"+ month + "-" + date.getDate() + " "+ date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
	        console.log(dateString);
	        $('#{{form.fecha_hora_creacion.auto_id}}').val(dateString)
	    

	});

	$( function() {
		$.datepicker.setDefaults($.datepicker.regional["es"]);
	    $( "#id_fecha" ).datepicker();
	  } );

	$('input:radio[id="radio-1"]').change(
    function(){
        if ($(this).is(':checked')) {
 		$(".ocultar").css("display", "block");
 		$(".ocultar2").css("display", "none");
        }
    });
    	$('input:radio[id="radio-2"]').change(
    function(){
        if ($(this).is(':checked')) {
        	$(".ocultar").css("display", "none");
        	$(".ocultar2").css("display", "block");
  
        }
    });


</script>


{% endblock %}