.section input[type="radio"],
.section input[type="checkbox"]{
  display: none;
}



/* Base styles for spans */
.container span::before,
.container span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* Radio buttons */
.container span.radio:hover {
  cursor: pointer;
}
.container span.radio::before {
  left: -52px;
  width: 45px;
  height: 25px;
  background-color: #A8AAC1;
  border-radius: 50px;
}
.container span.radio::after {
  left: -49px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: #6C788A;
  transition: left .25s, background-color .25s;
}
input[type="radio"]:checked + label span.radio::after {
  left: -27px;
  background-color: #EBFF43;
}


input[type="checkbox"]:checked + label span.checkbox::after {
  color: #62AFFF;
}

.divOcultar{
  display: none;
}

.ocultar{
	display: none;
}
.ocultar2{
	display: none;
	}
.succ{
	background-color : #00796B;
	color : white
}
.Dan{
	background-color : #D32F2F;
	color : white
}
html{
	text-align: center;
}

thead{
	background-color: black;
	color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: #000;
}

.divOcultar {
  padding: 20px;
  border-color: solid black;
  border-style: ridge;
}

.divOcultar2{
  display: none;
}

.divOcultar2{
  padding: 20px;
  border-color: solid black;
  border-style: ridge;
}